.filecolortext2 {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.filecolortext3 {
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

.filecolortext4 {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.filecolortext5 {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.filecolortext6 {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.filecolortext7 {
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

.filecolortext8 {
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}

.filecolortext9 {
    background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}

.filecolortext10 {
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}

.filecolortext11 {
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}

.filecolortext12 {
    background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
}

.filecolortext13 {
    background-image: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
}

.filecolortext14 {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.filecolortext15 {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.filecolortext16 {
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
}

.filecolortext17 {
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.filecolortext18 {
    background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
}

.filecolortext19 {
    background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
}
